<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>158591632507-ins176pfas2rtah4rhlm72iges6485j5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158591632507-ins176pfas2rtah4rhlm72iges6485j5</string>
	<key>API_KEY</key>
	<string>AIzaSyBKdV7Z5fnuRNrcPWdIlAfrjbTJV8rlyhU</string>
	<key>GCM_SENDER_ID</key>
	<string>158591632507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ErespiStudios.Applications.PomTime</string>
	<key>PROJECT_ID</key>
	<string>pomtime-31e4d</string>
	<key>STORAGE_BUCKET</key>
	<string>pomtime-31e4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158591632507:ios:9b8090050f99b226</string>
	<key>DATABASE_URL</key>
	<string>https://pomtime-31e4d.firebaseio.com</string>
</dict>
</plist>